<%- include('layout', { body: `
  <div class="todo-container">
    <form action="/add" method="POST" class="add-form">
      <input type="text" name="title" placeholder="Add a new todo..." required>
      <button type="submit">Add</button>
    </form>
    <ul>
      <% todos.forEach(function(todo) { %>
        <li class="<%= todo.completed ? 'completed' : '' %>">
          <form action="/complete/<%= todo.id %>" method="POST">
            <input type="checkbox" onChange="this.form.submit()" <%= todo.completed ? 'checked' : '' %> >
            <span><%= todo.title %></span>
          </form>
        </li>
      <% }); %>
    </ul>
  </div>
` }) %>